{% load static %}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta   http-equiv= "Pragma"   content= "no-cache" />
        <meta   http-equiv= "Cache-Control"   content= "no-cache" />
        <meta   http-equiv= "Expires"   content= "0" />
        <title>登陆系统</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.css"%}"/>
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
        <style type="text/css">
            body {background-color:#f5f5f5;}
            #main{
                width:400px;height:300px !important;
                background-color:#fff;
                margin:0 auto;margin-top:200px;
                border:1px solid;border-color:#D4D4D4;
                text-align:center;
                }
           form input{margin-bottom:20px; height:35px; width:60%}
        </style>
    </head>

<body>

    <div id="main">
            <form action=".", method="POST">
            {% csrf_token %}
            <legend>欢迎登陆：</legend>
            <div><input type="text" autocomplete="off", placeholder="username" name="username" /></div>
            <div><input type="password" placeholder="password" AUTOCOMPLETE="off" name="password" /></div>

{% if messages %}
    {% for message in messages %}
    <li{% if message.tags %} style="color:red" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
{% endif %}

            {% if error %}
            <div><span style="color:red">认证失败</div>
            {% endif %}
            <div>
                <a class="btn btn-primary" href="{% url register %}" style="   width:15%; margin-top:20px;">注册</a>
                <input class="btn btn-primary" type="submit" value="登陆" style="width:20%; margin-top:20px;"/>
            </div>
        </form>
    </div>

</body>

</html>
